/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

/* Common Style */
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.container{
    width: 1350px;
    background-color: #2D25A0;
    margin-bottom: 70px;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} 
/* Top-Banner Style */
.top-banner{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 102px;
    width: 1143px;
    padding: 153px 0px 86px 120px;
}
.banner-info h1{
    font-size: 64px;
    color: #FFFFFF;
}
.button-style:hover{
    transform: scale(2) rotate(45deg);
    transition: transform 1s ease-in-out 0.5s;
}
.button .button-style{
    padding: 10px 24px;
    width: 168px;
    background-color: #E02C6D;
    text-align: center;
}
.button a, .watch-live{
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
}
.button span{
    margin-right: 10px;
}
.top-banner img{
    width: 100%;
}
/* Banner Part End */

/* Players Part Start */
.players-container{
    width: 1050px;
    margin-bottom: 165px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 27px;
    grid-column-gap: 30px;
}
.player{
    width: 330px;
    padding: 15px;
    box-shadow: 0px 0px 40px rgba(128, 128, 128, 0.15);
}
.player-img img{
    width: 100%;
}
.player-info h2{
    font-size: 28px;
}
.player-info p{
    font-size: 16px;
    color: #6C6C6C;
}
/* Players Part End */

/* Recent Scores Part Start */
.recent-scores{
    width: 1050px;
    margin-bottom: 165px;
    
}
.section-title{
    color: brown;
}
.scores{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 20px;
}
.score{
    display: flex;
    justify-content: space-around;
    width : 330px;
    box-shadow: 0px 0px 40px rgba(128, 128, 128, 0.15);
    border-radius: 50px;
}
.team-name p, span{
    color: gray;
}
/* Recent Scores Part End */

/* Top Comments Part Start */

.top-comments{
    width: 1050px;
    margin-bottom: 165px;
}
.comments{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 20px;
}
.comment{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    width : 330px;
    box-shadow: 0px 0px 40px rgba(128, 128, 128, 0.15);
    border-radius: 40px;
    padding: 15px;
}
.comment h6{
    font-size: 15px;
}
.comment p{
    color: gray;
    font-size: 12px;
}
/* Top Comments Part End */

/* Footer Style Start */
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 158px;
}
footer .logo{
    width: 483.87px;
}
.logo img{
    width: 100%;
}
.social-logo i{
    padding-right: 14px;
    color: gray;
    margin: 20px 0px;
}
.footer-note{
    font-size: 18px;
}
/* Footer Part End  */

/* ------------------
    Media Quries 
---------------------*/

/*-------------------
        Mobile Devices 
 -------------------------------*/

 @media only screen and (max-width: 688px) {
    .container, .players-container, .recent-scores, .top-comments{
        width : 100%;
    }
    .top-banner, .players, .scores, .comments, .footer{
        grid-template-columns: repeat(1,1fr);
        grid-row-gap: 24px;
    }
    .top-banner {
        width: 80%;
        padding: 0px;
        margin: 15px;
    }
    .recent-scores, .top-comments{
        width: 80%;
    }
    .top-comments{
        margin-right: 30px;
    }
    .footer{
        width:80%;
    }
    .footer .logo{
        width:80%;
    }
}

/*-----------------
        Tablet Devices
----------------------------- */

 @media only screen and (min-width: 688px) and (max-width: 992px) {
    .container, .players-container, .recent-scores, .top-comments{
        width : 100%;
    }
    .top-banner, .players, .scores, .comments, .footer{
        grid-template-columns: repeat(2,1fr);
        grid-row-gap: 24px;
    }
    .top-banner {
        width: 100%;
        padding: 0px;
        margin: 15px;
    }
    .recent-scores, .top-comments{
        width: 90%;
    }
    .top-comments{
        margin-right: 30px;
    }
    .footer{
        width:100%;
    }
    .footer .logo{
        width: 90%;
    }
}